.order-items-table{
  height: 100%;
}

.order-item-row {
  display: flex;
  border-bottom: 1px solid #ddd;
}

.fixed-item-cell{
  width: 10%;
  justify-content: center;
}

.description-cell{
  width: 45%;
  height: max-content;
}

.fixed-item-cell,
.description-cell{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
}
